@import url(https://fonts.googleapis.com/css?family=Montserrat); 
html, body {
    background:#333;
    color: #fff;
    font-size: 45.5%;

}

.navbar-brand{
    font-size: 3rem;
}
p{
    font-size: 2.5rem;
}

.navbar{
    font-size: 3rem;
}
.navbar-nav li{
  margin-left:3rem;
}

span{
    font-size: 4rem;
}

.logo{
    font-size: 6rem;
}


.viewport-max{
    min-height: 100vh;
}


#home-section{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../img/3dmodels/home-pic.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Montserrat;
    }

.navbar-expand{
    background: #333;
}
#mg-section{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("../img/background1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#portfolio-section{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("../img/background2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#360video-section{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("../img/background2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#vr-section{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("../img/vr-images/Unitypic1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.height-space{
    margin-top: 8rem;
    margin-bottom: 8rem;
}
p{
    margin-top: 10rem;
    color: #ccc;
}

.s0{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../img/3dmodels/pic0.jpg");
    background-size: cover;
    background-position: center;
}

.s1{
    background: url("../img/3dmodels/pic1.jpg");
    background-size: cover;
    background-position: center;
}

.s2{
    background: url("../img/3dmodels/pic2.jpg");
    background-size: cover;
    background-position: center;
}
.s3{
    background: url("../img/3dmodels/pic3.jpeg");
    background-size: cover;
    background-position: center;
}
.s4{
    background: url("../img/3dmodels/pic4.jpeg");
    background-size: cover;
    background-position: center;
}

.s5{
    background: url("../img/3dmodels/pic5.jpg");
    background-size: cover;
    background-position: center;
}
.s6{
    background: url("../img/3dmodels/pic6.jpg");
    background-size: cover;
    background-position: center;
}
.s7{
    background: url("../img/3dmodels/pic7.jpg");
    background-size: cover;
    background-position: center;
}
.s8{
    background: url("../img/3dmodels/pic8.jpg");
    background-size: cover;
    background-position: center;
}

.arrow{
    width: 10rem;
    display: block;
    margin: auto;
    margin-top: 10rem;
}

.s9{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../img/3denvironments/project0.jpg");
    background-size: cover;
    background-position: center;
}
.s10{
    background: url("../img/3denvironments/project1.jpg");
    background-size: cover;
    background-position: center;
}

.s11{
    background: url("../img/3denvironments/project2.jpg");
    background-size: cover;
    background-position: center;
}
.s12{
    background: url("../img/3denvironments/project3.jpg");
    background-size: cover;
    background-position: center;
}
.s13{
    background: url("../img/3denvironments/project4.jpg");
    background-size: cover;
    background-position: center;
}

.s14{
    background: url("../img/3denvironments/project5.jpeg");
    background-size: cover;
    background-position: center;
}
.s15{

}

.a0{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../img/Art/a0.jpg");
    background-size: cover;
    background-position: center;
}

.a1{
    background: url("../img/Art/a1.jpg");
    background-size: cover;
    background-position: center;
}

.a2{
    background: url("../img/Art/a2.jpg");
    background-size: cover;
    background-position: center;
}
.a3{
    background: url("../img/Art/a3.jpg");
    background-size: cover;
    background-position: center;
}
.a4{
    background: url("../img/Art/a4.jpg");
    background-size: cover;
    background-position: center;
}

.a5{
    background: url("../img/Art/a5.jpg");
    background-size: cover;
    background-position: center;
}
.a6{
    background: url("../img/Art/a6.jpg");
    background-size: cover;
    background-position: center;
}
.a7{
    background: url("../img/Art/a7.jpg");
    background-size: cover;
    background-position: center;
}
.a8{
    background: url("../img/Art/a8.jpg");
    background-size: cover;
    background-position: center;
}
.a9{
    background: url("../img/Art/a9.jpg");
    background-size: cover;
    background-position: center;
}
.a10{
    background: url("../img/Art/a10.jpg");
    background-size: cover;
    background-position: center;
}
.a11{
}

.name, .email{
    font-family: Montserrat;
    margin-bottom: -5rem;
    margin-top: 5rem;
}

.videos{
    margin-top: -60px;
    
}
.push-top{
    margin-top: 20rem;
}
.align-items{
    margin: auto;
}

 @media (max-width: 1199px) {
    
     .content-title{
         font-size: 7rem;
     }
}

 @media (max-width: 1199px) {
    
     .navbar-brand{
         font-size: 2.5rem;
         position: absolute;
         top: 0px;
         left: 30%;
     }
}




