@import url(https://fonts.googleapis.com/css?family=Montserrat); 
html, body {
    scroll-behavior: smooth;
    background:#333;
    color: #fff;
    font-size: 45.5%;
}

.navbar-brand{
    font-size: 3rem;
}
p{
    font-size: 2.5rem;
}

.navbar{
    font-size: 3rem;
}
.navbar-nav li{
  margin-left:3rem;
}

span{
    font-size: 4rem;
}

.logo{
    font-size: 6rem;
}

.title{
    margin-top: 9rem;
    color: #fff;
}
.content-subtitle{
        font-size: 4rem
    }
.viewport-max{
    min-height: 100vh;
}

#down-one{
    height: 600px;
}

#home-section{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../img/3dmodels/home-pic.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Montserrat;
    }
.content-title {
  font-size: 7vh;
  line-height: 1.0; }
.navbar-expand{
    background: #333;
}
#mg-section{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("../img/background1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#portfolio-section{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("../img/background2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#vr-section{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("../img/vr-images/Unitypic1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.height-space{
    margin-top: 8rem;
    margin-bottom: 8rem;
}
p{
    margin-top: 10rem;
    color: #ccc;
}

.name, .email{
    font-family: Montserrat;
    margin-bottom: -5rem;
    margin-top: 5rem;
}

 @media (max-width: 1199px) {
    
     .content-title{
         font-size: 7rem;
     }
}

 @media (max-width: 1199px) {
    
     .navbar-brand{
         font-size: 2.5rem;
         position: absolute;
         top: 0px;
         left: 30%;
     }
}




